{% extends "base.twig" %}


{% block template %}

<h1>Primary Heading</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<h2>Secondary Heading</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	<ul>
		<li>List item</li>
		<li>List item</li>
		<li>List item</li>
			<ul>
				<li>List item</li>
				<li>List item</li>
				<li>List item</li>
			</ul>
		<li>List item</li>
		<li>List item</li>
	</ul>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	<ol>
		<li>List item</li>
		<li>List item</li>
		<li>List item</li>
			<ol>
				<li>List item</li>
				<li>List item</li>
				<li>List item</li>
			</ol>
		<li>List item</li>
		<li>List item</li>
	</ol>
<h2>Secondary Heading</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. <a href="#">Duis aute irure</a> dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	<blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis <a href="#">nostrud</a> exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</blockquote>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in <del>reprehenderit</del> <ins>reprehenderit</ins> in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<h2>Secondary Heading</h2>
	<blockquote class="dialogue-old-man">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis <a href="#">nostrud</a> exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		<cite>
			Old Man &mdash; The Legend of Zelda
		</cite>
	</blockquote>
	<blockquote class="dialogue-navi">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis <a href="#">nostrud</a> exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		<cite>
			Navi &mdash; Ocarina of Time
		</cite>
	</blockquote>
	<blockquote class="dialogue-midna">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis <a href="#">nostrud</a> exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		<cite>
			Midna &mdash; Twilight Princess
		</cite>
	</blockquote>
	<blockquote class="dialogue-fi">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis <a href="#">nostrud</a> exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		<cite>
			Fi &mdash; Skyward Sword
		</cite>
	</blockquote>
	<blockquote class="dialogue-red-lions">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis <a href="#">nostrud</a> exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		<cite>
			King of Red Lions &mdash; The Wind Waker
		</cite>
	</blockquote>
<h2>Secondary Heading</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis <a href="#">nostrud</a> exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. <a href="#">Duis aute irure</a> dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	<code>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
		sed do eiusmod tempor incididunt ut labore et dolore magna
		aliqua. Ut enim ad minim veniam, quis nostrud exercitation
		ullamco laboris nisi ut aliquip ex ea commodo consequat.
		Duis aute irure dolor in reprehenderit in voluptate velit
		esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
		occaecat cupidatat non proident, sunt in culpa qui officia
		deserunt mollit anim id est laborum.</code>
<h2>Secondary Heading</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis <a href="#">nostrud</a> exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	<span class="game-title">
		<h1>The Legend of</h1>
		<h2>Zelda</h2>
	</span>
	<span class="game-title">
		<h1>The Adventure of</h1>
		<h2>Link</h2>
	</span>
	<span class="game-title">
		<h1>A Link to the</h1>
		<h2>Past</h2>
	</span>
	<span class="game-title">
		<h1>Link's</h1>
		<h2>Awakening</h2>
	</span>
	<span class="game-title">
		<h1>Ocarina of</h1>
		<h2>Time</h2>
	</span>
	<span class="game-title">
		<h1>Majora's</h1>
		<h2>Mask</h2>
	</span>
	<span class="game-title">
		<h1>The Minish</h1>
		<h2>Cap</h2>
	</span>
	<span class="game-title">
		<h1>The Wind</h1>
		<h2>Waker</h2>
	</span>
	<span class="game-title">
		<h1>Four</h1>
		<h2>Swords</h2>
	</span>
	<span class="game-title">
		<h1>Four Swords</h1>
		<h2>Adventures</h2>
	</span>
	<span class="game-title">
		<h1>Twilight</h1>
		<h2>Princess</h2>
	</span>
	<span class="game-title">
		<h1>Spirit</h1>
		<h2>Tracks</h2>
	</span>
	<span class="game-title">
		<h1>Phantom</h1>
		<h2>Hourglass</h2>
	</span>
	<span class="game-title">
		<h1>Skyward</h1>
		<h2>Sword</h2>
	</span>
	<span class="game-title">
		<h1>A Link Between</h1>
		<h2>Worlds</h2>
	</span>

{% endblock %}