// Neutral Color Variables //
$color-black: #1D1D26;
$color-black-tint: #615766;

$color-white: #FAF9F5;
$color-white-shade: #F3F2ED;

$color-neutral-tint: #EBE9E1;
$color-neutral-shade: #B3ABB0;

// Core Color Variables //
$color-primary: #C79F5A;
$color-primary-tint: #D9CEAD;
$color-primary-shade: #996C2E;

$color-secondary: #2E4D30;
$color-secondary-tint: #869973;
$color-secondary-shade: #1A332B;

// Accent Color Variables //
$color-accent: red;
$color-accent-tint: pink;
$color-accent-shade: burgundy;

// User Feedback Variables //
$color-info: blue;
$color-error: orange;
$color-warning: yellow;
$color-success: green;